body {
  background-image: url('assets/images/low_contrast_linen_@2X.png');
  background-repeat: repeat-x;
}

/* styles.css */

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.clickable-row:hover,
.clickable-row.active {
  background-color: #82d6f7 !important; /* Change this to the color you prefer */
}

.clickable-row.active {
  transform: scale(1.02); /* Add a slight zoom effect on click */
}